    * {
        margin: 0;
        padding: 0;
    }
    
    #club-container {
        width: 55%;
        height: 900px;
        margin: auto;
        margin-top: 50px;
        display: grid;
        text-align: center;
        grid-template: 'div div div div' 'div div div div' 'div div div div' 'div div div div' 'div div div div';
    }
    
    #club-container>div {
        border: 1px solid black;
    }
    
    #club-container>div>button {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;
    }
    
    #club-container>div>button>img {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    #club-container>div>.btn21>img {
        width: 60px;
        height: 50px;
    }
    
    #club-container>div>.btn22>img {
        width: 60px;
        height: 50px;
    }
    
    hr {
        width: 80%;
        margin-left: 10%;
        margin-top: 50px;
    }
    
    h2 {
        text-align: center;
        padding-top: 20px;
    }
    
    #others {
        width: 60%;
        height: 400px;
        margin-left: 20%;
        margin-top: 20px;
        display: grid;
        grid-template: 'div div div';
    }
    
    #sec_button {
        background: #267788;
        color: #fff;
        width: 20%;
        height: 40px;
        margin-left: 40%;
        margin-top: 20px;
    }
    
    li>input {
        width: 40px;
        height: 40px;
        margin-top: 13px;
    }
    
    #other_club1>li,
    #other_club2>li,
    #other_club3>li {
        color: black;
        list-style-type: none;
        background: white;
    }
    
    #hr2 {
        width: 70%;
        margin: auto;
        margin-top: 50px;
    }
    
    span {
        padding-bottom: 20px;
    }
    
    #club-container>div:nth-child(2),
    #club-container>div:nth-child(3),
    #club-container>div:nth-child(4) {
        border-left: none;
    }
    
    #club-container>div:nth-child(5),
    #club-container>div:nth-child(6),
    #club-container>div:nth-child(7),
    #club-container>div:nth-child(9),
    #club-container>div:nth-child(10),
    #club-container>div:nth-child(11),
    #club-container>div:nth-child(13),
    #club-container>div:nth-child(14),
    #club-container>div:nth-child(15),
    #club-container>div:nth-child(17),
    #club-container>div:nth-child(18),
    #club-container>div:nth-child(19) {
        border-top: none;
        border-right: none;
    }
    
    #club-container>div:nth-child(8),
    #club-container>div:nth-child(12),
    #club-container>div:nth-child(16),
    #club-container>div:nth-child(20),
    #club-container>div:nth-child(21) {
        border-top: none;
    }
    
    .item2 {
        width: 33%;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(3, 50px);
        grid-template-rows: 50px;
        grid-gap: 30%;
        margin: auto;
    }
    
    .item2>div {
        background-color: #37003C;
        border-radius: 50%;
    }
    
    .item1 {
        height: 50px;
        background-color: #FF2882;
        color: white;
        margin-bottom: 20px;
    }
    
    .item1>h3 {
        margin-left: 50px;
    }