* {
    margin: 0;
    padding: 0;
}

#headline {
    width: 80%;
    height: 40px;
    float: left;
    margin-left: 10%;
    margin-top: 70px;
    background: #e90052;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

#headline>p {
    padding-left: 50px;
    padding-top: 10px;
}

#headline>p::selection {
    background-color: #ff2882;
    color: white;
}

.item2 {
    width: 33%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: 50px;
    grid-gap: 30%;
    margin: auto;
}

.item2>div {
    background-color: #37003C;
    border-radius: 50%;
}

hr {
    width: 80%;
    margin-left: 10%;
}

#hr1 {
    margin-top: 50px;
}

#information {
    width: 55%;
    height: 80px;
    margin: auto;
    margin-top: 30px;
}

#information>h1 {
    font-family: "PremierSans-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

#information>h1::selection {
    background-color: #ff2882;
    color: white;
}

#information>p::selection {
    background-color: #ff2882;
    color: white;
}

#information>p {
    color: #76766f;
    letter-spacing: 1px;
}

#hr2 {
    margin-top: 20px;
}

#hr3 {
    margin-top: 30px;
}

#getinfo {
    width: 55%;
    height: 100px;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template: "div div div" "div div div";
}


/* #getinfo>div {
    border: 1px solid black;
} */

#getinfo>div>input {
    width: 50px;
    height: 20px;
    margin-top: 20px;
}

#getinfo2 {
    width: 55%;
    height: 150px;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template: "div div div" "div div div" "div div div";
}

#getinfo2>div>input {
    width: 50px;
    height: 20px;
    margin-top: 20px;
}

.p {
    width: 60%;
    text-align: left;
    padding-top: 40px;
    margin-left: 20%;
    line-height: 20px;
}

#hr4 {
    margin-top: 30px;
}

#hr5 {
    margin-top: 50px;
}

#terms {
    width: 45%;
    margin-left: 29.5%;
    margin-top: 50px;
}

#terms>input {
    width: 150px;
    height: 20px;
}

#terms>label {
    font-weight: bold;
    font-size: 18px;
}

#terms>label>span {
    color: #ff2882;
}

#sec_button {
    background: #267788;
    color: #fff;
    width: 20%;
    height: 40px;
    margin-left: 40%;
    margin-top: 20px;
}